<body class="admin-theme">

  <div class="title-container">
    <h2>Adminisztrátori Belépés</h2>

    <form (ngSubmit)="loginAdmin()">
      <div>
        <label for="username">Felhasználónév:</label>
        <input id="username" type="text" [(ngModel)]="username" name="username" required />
      </div>

      <div>
        <label for="password">Jelszó:</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required />
      </div>

      <div>
        <label for="code">Kód:</label>
        <input id="code" type="text" [(ngModel)]="code" name="code" required />
      </div>

      <div>
        <button type="button" (click)="goBack()">Vissza</button>
        <button type="submit">Bejelentkezés</button>
      </div>
    </form>
  </div>

</body>
