<div class="page">
    <div class="title-container">
      <h1 class="title">Ügyintézői Menü</h1>
    </div>

    <div class="main-menu-island">
      <div class="menu-column">
        <h3>Játékok</h3>
        <button class="menu-button" (click)="gameList()">Listázás</button>
        <button class="menu-button" (click)="gameSearch()">Keresés</button>
        <button class="menu-button" (click)="gameCreate()">Létrehozás</button>
        <button class="menu-button" (click)="gameModify()">Módosítás</button>
        <button class="menu-button" (click)="gameDelete()">Törlés</button>
      </div>

    </div>

    <button class="menu-button" (click)="goBack()" >Kilépés</button>

  </div>
  